
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Noto Sans KR', sans-serif;
  }
  h1 {
    @apply font-semibold text-5xl py-2;
  }

  h2 {
    @apply font-semibold text-4xl py-2;
  }

  h3 {
    @apply font-semibold text-3xl;
  }

  h4 {
    @apply font-semibold text-2xl;
  }
  a {
    @apply cursor-pointer hover:cursor-pointer;
  }

  .markdown a {
    @apply underline hover:no-underline;
  }

  .markdown h1,
  .markdown h2 {
    @apply pt-4 pb-2;
  }

  .markdown h3,
  .markdown h4 {
    @apply pt-4 pb-2;
  }

  strong {
    @apply font-semibold;
  }

  em {
    @apply text-GRAY_HEAVY;
  }

  code {
    @apply bg-GRAY_LIGHT dark:bg-GRAY_EXTRAHEAVY  py-[2px] px-1.5 rounded-md text-xs font-medium text-PRIMARY_HEAVY dark:text-PRIMARY;
  }

  blockquote {
    @apply bg-GRAY_LIGHT py-4 px-6 my-2 rounded-md w-full dark:bg-GRAY_EXTRAHEAVY;
  }

  ul,
  ol {
    @apply flex flex-col gap-2 py-2 ml-6 list-outside list-disc; /* ml-8로 들여쓰기 증가 */
  }

  li ul {
    @apply pt-2;
    list-style-type: '- '; /* 서브 항목을 dash로 표시 */
  }
}
